#!/usr/bin/env ruby

preprocess do
  create_blog_index
end

compile '/static/*' do
end

compile '/blog/feed/' do
    filter :erb
end

compile '/blog/*' do
    filter :erb
    filter :pandoc
    if item[:kind] == 'article' then
        layout 'blog-article'
    elsif item[:kind] == 'blog-index' then
        layout 'blog-index'
    else
        layout 'blog'
    end
    filter :remove_lines_with_only_whitespace
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    filter :pandoc
    layout 'default'
    filter :remove_lines_with_only_whitespace
  end
end

route '/static/*' do
  # /static/foo.html/ → /foo.html
  item.identifier[7..-2]
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb

