
/* Navigation bar */

.navbar-inverse {
    background-color: #2C3E50;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #294867;
}

/* red line at the top */
.navbar-inverse {
    border-top-width: 3px;
    border-top-color: #691919;
}

/* Make text easier to read on the dark background */
.navbar-inverse .navbar-brand {
    color: #ddd;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ddd;
}

/* Breadcrumbs */

.breadcrumb > li + li:before {
    padding: 0 5px;
    content: ">";
    color: #8E2110; /* darkred */
}

/* headers */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #337ab7 ; /* light blue */
}

/* Code */

.input {
    color: #0000ff; /* blue */
}

/* Images */

/* add a border to e.g. images */
.border {
border: #434343 1px solid;
}

.right {
margin-left: 0.5em;
float: right;
}

.center {
display: block;
margin-left: auto;
margin-right: auto
}

/* Footer */

.footer-line {
  display: flex;
  justify-content: space-between;
}

/* Taken from https://bootswatch.com/4/flatly/bootstrap.css */

.table-success,
.table-success > th,
.table-success > td {
  background-color: #beece3;
}

.table-hover .table-success:hover {
  background-color: #aae6db;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #aae6db;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fce3bd;
}

.table-hover .table-warning:hover {
  background-color: #fbd9a5;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fbd9a5;
}

.table-success, .table-info, .table-warning, .table-danger {
  color: #fff;
}

.table-success, .table-success > th, .table-success > td {
  background-color: #18BC9C;
}

.table-hover .table-success:hover, .table-hover .table-success:hover > th, .table-hover .table-success:hover > td {
  background-color: #15a589;
}

.table-warning, .table-warning > th, .table-warning > td {
  background-color: #F39C12;
}

.table-hover .table-warning:hover, .table-hover .table-warning:hover > th, .table-hover .table-warning:hover > td {
  background-color: #e08e0b;
}

