!!!
%html{:lang => "en"}

  %head
    %title= @item[:title]
    %link{:rel => "stylesheet", :href => "/tbm.css", :type => "text/css"}
    %meta{:charset => "utf-8"}
    %meta{:name => "generator", :content => "nanoc " + Nanoc::VERSION}

  %body
    .page
      .header
        Martin Michlmayr
      .content
        = yield

